<div>
  <div class="side-panel"> 
    <div id="form">
      <div>
        <a class="form-label">Details</a>
        <span (click)="closeForm()"><img src="./assets//cross.jpeg" class="form-close" /></span>
        <br> <br>
        <hr>
        <br> <br>
        <span class="input-label">Memory</span>
        <input type="text" class="input-text"/>
        <br> <br>
        <span class="input-label">Threshold</span>
        <input type="text" class="input-text"/>
      </div>
    </div>
    <div id="stencil"></div>
  </div>
  <div class="paper-container">
    <div id="paper"></div>
  </div>
</div> 